.clover/
target/
.project
.classpath
.settings/
.idea/
.patch
.surefire-*
*.iml
*.ipr
*.iws
.DS_Store
reports/
.directory
atlassian-ide-plugin.xml
hazelcast-ra/*.log
hazelcast-ra/*.epoch
performance*.log
